.app {
  display: grid;
  width: 1000px;
  grid-template-areas:
    "first"
    "second"
    "third";
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container:first-child {
  grid-area: first;
  background-color: var(--orange);
}

.card-container:nth-child(2) {
  grid-area: second;
  background-color: var(--teal);
}

.card-container:last-child {
  grid-area: third;
  background-color: var(--green);
}
@media (min-width: 400px) {
  .app {
    grid-template-areas:
      "first second third"
      "first second third";
  }

  .app-container {
    height: 100vh;
  }
}
